*study_agent.egg-info/
*.doit.db
*.agent-shell/
*sandbox/
scripts/output-cohort-diagn/
*db-details.json
*pyc
*~
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
.Rproj
.DS_Store
**/inst/assistant/*.json
**__pycache__**
data/
demo/1197_Acute_gastrointestinal_bleeding.json
demo/299_Acute_gastrointestinal_bleeding_or_perforation_events.json
demo/417_Acute_gastrointestinal_bleeding_events.json
docs/study-agent-development-phenotype-suggestion-tool-architecture-plan.pdf